{% extends 'base.html.twig' %}

{% block body %}

<div
    class="container mb-5" 
>
    <div class="card mt-5">
        <div class="card-header">Liste des Paiements</div>
        <div class="card-body p-3">
        <div class="row">
        <div class="col-6">
        <div class="row my-2">
         <div class="col-3">Nom et Prenom</div>
         <div class="col">{{dette.client.user.nom ~ " " ~ dette.client.user.prenom }}</div>
        </div>
        <div class="row">
        <div class="col-3">Telephone</div>
         <div class="col">{{dette.client.telephone}}</div>
        </div>

        </div>
        
        <div class="col-6">
        <div class="row my-2">
         <div class="col-5">Montant de la Dette</div>
         <div class="col">{{dette.montant }}</div>
        </div>
        <div class="row">
        <div class="col-5">Montant Verse</div>
         <div class="col">{{dette.montantVerse}}</div>
        </div>

        </div>
        
        
        </div>

        <div class="my-2">
        {% for message in app.flashes('error') %}
        
        <div class="alert alert-danger"> {{ message }} </div>
           {% endfor %}
        {{form_start(form,{'attr':{'class':'d-flex row gy-2 gx-3 align-items-center'}})}}
             <div class="col-auto">

                    <label class="visually-hidden" for="autoSizingInput">Name</label>
                    {{form_widget(form.montant,{'attr':{'disabled':disabled}})}}

                </div>
                <div class="col-auto">

                    <label class="visually-hidden" for="autoSizingInput">Name</label>
                        {{form_widget(form.save,{'attr':{'disabled':disabled}})}}
                    

                </div>
        {{form_end(form)}}
        </div>

            <div
                class="table-responsive"
            >
                <table
                    class="table table-light table-bordered table-striped"
                >
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for paiement in paiements %}
                        <tr class="">
                                  
                                    <td scope="row">{{paiement.dateAt|date('d-m-Y')}}</td>
                                    <td scope="row">{{paiement.montant}}</td>
                        </tr>
                    {% else %}
                        Pas de clients
                    {% endfor %}
                       
                       
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="mt-2">
                    <ul
                        class="pagination float-end    "
                    >
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                         {% for i in 1..nbrePages %}
                        <li class="page-item  {{i == page ? 'active' : ''}}" aria-current="page">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                         {% endfor %}  
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
        </div>
    </div>
    
   
    
</div>

{% endblock %}