
{% extends 'base.html.twig' %}

{% block title %}Dettes du Client{% endblock %}

{% block body %}
    <div class="container mt-5">
        <p><strong> Client:</strong> {{ client.surname }}</p>
        <p><strong>Téléphone: </strong>{{ client.telephone }}</p>

        <div class="d-flex justify-content-end mb-3">
            <font color="red"><strong>Total :</font> {{ totalMontantRestant }}</strong>
        </div>

        <!-- Table of debts -->
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Date de Création</th>
                    <th>Montant</th>
                    <th>Montant Versé</th>
                    <th>Montant Restant</th>
                </tr>
            </thead>
            <tbody>
                {% for dette in dettes %}
                    <tr>
                        <td>{{ dette.createAt ? dette.createAt|date('Y-m-d') : 'N/A' }}</td>
                        <td>{{ dette.montant }}</td>
                        <td>{{ dette.montantVerser }}</td>
                        <td>{{ dette.montant - dette.montantVerser }}</td> <!-- Montant restant -->
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Aucune dette trouvée pour ce client.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="mt-2">
                    <ul
                        class="pagination float-end    "
                    >
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                         {% for i in 1..nbrePages %}
                        <li class="page-item  {{i == page ? 'active' : ''}}" aria-current="page">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                         {% endfor %}  
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


        <!-- Back link -->
        <a href="{{ path('client') }}" class="btn btn-secondary mt-3">Retour à la liste des clients</a>
    </div>
{% endblock %}
